/* * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid #e1e1e2cc;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;


    min-height: 600px;
   
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #e1e1e2cc;
    
    height: 120px; 

}

.logo {
    flex-grow: 1;
    flex-basis: 65%;

    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #cccccc;
    text-transform: uppercase;
}

.logo h1 {
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

.menu {
    flex-grow: 1;
    flex-basis: 30%;
     height: 100%; 
    padding-right: 20px;

}


.menu > ul {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
     height: 100%; 
    
}

.menu a {
    text-transform: uppercase;
    color: #444444;
   transition: all 300ms;
   padding: 15px;
    
}

.menu a:hover{
    background: #cccccc;
    color: #fa8072;
}



.contenidoPrincipal {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;


}

.contenido1{
    
    /* width: 40%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  
}
   

.contenido h2{
    padding: 10px;
}

.contenido p{
    padding:30px;
    align-content: center;
   
}

.nombre{
    background-color: #7fffd4;
    height: 250px;
    /* margin-left: 25px;
    margin-right: 20px;
    margin-top: 200px; 
    width: 500px;
    margin-right: 65px;
}

img{
    /* background-color: #ff1493; 
    height: 600px;
    width: 300px;
    /* max-width: 999px; */
/* max-height: 100px; 
}

.mifoto{
    border: 1px solid black;
display: flex;
}

.articulo{
    border:  1px solid red;
    display: flex;
    align-items: center;
}

.articulo  ul a{
    display: flex;
    /* align-items: flex-start; 
 
}

/* SEGUNDA PARTE 
.contenidoSecundario{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:20%;

}

.contenido2{
    
    /* width: 40%; 
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; 
    margin: 20px;
  
}

.datos ul{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    
}

.descripcion {
    display: flex;
    margin-top: 40px;
   
} */

* {
    margin: 0;
    padding: 0;

}

/* body{
    background-color: yellow;
} */

/* .yo{
    color: green;
    font-size: 25px;
} */

#container {
    border: 1px solid #808080;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

header {
    border: 1px solid red;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

header .logo {
    width: 200px;
    font-size: 25px;
}

header .logo h1{
    width: 100%;
    
}


header .menu  a{
    color: #a7a1a1;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
}

header .menu a:hover{
    
    text-decoration:underline;
}



.contenidoPrincipal {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.contenidoPrincipal .nombre{
    display: inline-flex;
    margin: 40px auto 0;
    
}


.nombre h2{
    text-transform: uppercase;
}

 .nombre p{
    margin-left: 30px;
    margin-top:60px;
    font-size: 25px;
}

.nombre .cv{
    margin-top: 120px;
    align-items: center;
}

.contenidoSecundario {
    border: 1px solid blue;
    /* display: flex; */
    width: 100%;
}

.contenidoSecundario .mifoto{
    width: auto;
    height: 250px;
}

.personales {
    border: 1px solid orange;
    justify-content: center;
}

.educacion {
    border: 1px solid violet;
}

.experiencia {
    border: 1px solid #3b5bbb;
}

.contenidoTercero {
    border: 1px solid #b18714;
}

footer {
    border: 1px solid #6fc2e9;
}